#movie-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid black;
  padding: 20px 16px;
  align-items: center;
  width: 250px;
}

#movie-image {
  width: 200px;
  height: 200px;
}

#search-input {
  margin-bottom: 20px;
}

#movies-set {
  display: flex;
  gap: 20px;
  align-items: center;
}
